.authen{
    background-color: rgb(88, 194, 162);
    padding:5%;
}
.is-padding{
    padding: 2%;
}

.is-horizontal-center {
    justify-content: center;
  }

  .is-inline {
      display: inline;
  }

  #is-green {
      background-color: rgb(181, 194, 181);
  }
